<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container my-3">
    <form>
        <h2 class="border-bottom py-2" th:text="${content.getMember().nickname}+'님의 글'"></h2>
        <h2 class="border-bottom py-2" th:text="${content.subject}"></h2>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(content.content)}"></div>

            <button class="btn btn-danger">삭제하기</button>
        </div>


    </div>
    </form>
    </div>


    <!-- 답변의 갯수 표시 -->


</div>

</html>