<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<div class="container">
<h1>Hello ToastUI</h1>
<form class="write_content" method="POST" th:action="@{' '}" th:object="${contentDto}">

    <div class="mb-3">
        <label class="form-label admin-label-name">카테고리</label>
        <select name="articleName" class="form-select">
            <option value="">==카테고리 선택==</option>
            <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.name}">카테고리옵션</option>
        </select>
    </div>
    <div th:if="${#fields.hasErrors('articleName')}" th:errorclass="field-error" th:errors="*{articleName}">
        사용자ID 오류
    </div>
    <input type="text" name="subject">
    <div th:if="${#fields.hasErrors('subject')}" th:errorclass="field-error" th:errors="*{subject}">
        사용자ID 오류
    </div>
    <div id="editor" name="editor" onfocusout="submit();"></div>
    <div th:if="${#fields.hasErrors('content')}" th:errorclass="field-error" th:errors="*{content}">
        사용자ID 오류
    </div>
    <textarea name="content" style="display: none" class="content" ></textarea>
    <button  onclick="submit();" class="give btn-danger btn">전송하기</button>
</form>

</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const Editor = toastui.Editor;

    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical'
    });

    seeHtml = function () {
        alert(editor.getHTML());
    }
    seeMd = function () {
        alert(editor.getMarkdown());
    }
</script>
<script th:inline="javascript">
   function submit(){
       let content = editor.getMarkdown();
       console.log(content);
       $('.content').val(content);
       //$('.write_content').attr("action",[[${' '}]]).submit();
   }
</script>

</div>
</html>