<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

  <div class="page-name-head">
    <h2 class="admin-page-name">해시태그 추가</h2>
  </div>
  <div>
    <form class="cate_form" method="POST" th:action="@{''}" th:object="${articleDto}">
      <input class="cate" name="name" type="text" placeholder="해시태그 입력하세요.">
      <div th:fragment="formErrorsFragment" class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}" style="margin-top: 10px;">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
      </div>

      <input type="submit" class="button-blue button-outline create float-right" style="width: 15%; margin: auto;" value="추가하기">
    </form>
  </div>
  </mid>
</div>
</html>